%positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameView {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: black;
  overflow: hidden;

  .gameWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
